﻿@using PatientPortalDashBoard.Models
@{
    ViewBag.Title = "Home Page";
}
@{
    var providerinfo = (Provider)ViewData["providerinfo"];
}

<!-- Navigation -->
@Html.Partial("TopBanner")

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Amendment Request</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvactive"></div>
                                <div>UnRead</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchAmendmentRequest('@providerinfo.Providerid', 'UnRead')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconnew"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvpending"></div>
                                <div>Pending</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchAmendmentRequest('@providerinfo.Providerid', 'Pending')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconpending"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <!--Need to understand the  logic for Closed status.. so just binding a 0 value here-->

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvclosed"></div>
                                <div>Closed</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchAmendmentRequest('@providerinfo.Providerid', 'Close')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconclosed"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="tblheading">
                    <i class="fa fa-comments fa-fw"></i> <span id="tblname"></span> <!--Inbox-->

                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Filter
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#" onclick="FetchAmendmentRequest('@providerinfo.Providerid','UnRead')">UnRead</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchAmendmentRequest('@providerinfo.Providerid','Pending')">Pending</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchAmendmentRequest('@providerinfo.Providerid','Close')">Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" style="height: 400px; overflow: auto; width:auto;overflow: auto">
                                <table class="table table-striped table-bordered table-hover" id="tblMessages">
                                    <thead>
                                        <tr>
                                            <th>#Sno</th>
                                            <th style="display:none">RequestId</th>
                                            <th>Requested Date</th>
                                            <th>PatientId</th>
                                            <th>Patient</th>
                                            <th>DOB</th>
                                            <th>Message</th>
                                            <th id="thResponseStatus">Status</th>
                                            <th id="thResponseDate">Response Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodysecuremessage"></tbody>
                                </table>
                            </div>
                            <div>
                                <input type="hidden" id="hdnRequestId" />
                                <input type="hidden" id="hdnPatientId" />
                                <input type="hidden" id="hdnPatientFirstName" />
                                <input type="hidden" id="hdnPatientLastName" />
                                <input type="hidden" id="hdnPatientMiddleName" />
                                <input type="hidden" id="hdnPatientDOB" />
                                <input type="hidden" id="hdnPatientGender" />
                                <input type="hidden" id="hdnSender" />
                                <input type="hidden" id="hdnExternalId">
                                <input type="hidden" id="hdnProviderId">
                                <input type="hidden" id="hdnMessage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for showing chat history between provider and the patient-->
        <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Amendment Detail</h4>
                    </div>
                    <div class="modal-body" style="min-height:200px;max-height:300px;">
                        <p id="tdRequestedDate"></p>
                        <p id="tdMessage"></p>
                    </div>
                    <p style="padding-left:10px;color:maroon;">Please click on Accept after amending previous visit as Health summary will get updated!</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnAccept" onclick="SendAmendmentResponse('1');">Accept</button>
                        <button type="button" class="btn btn-primary" id="btnReject" onclick="SendAmendmentResponse('0');">Reject</button>
                    </div>
                </div>
            </div>
        </div>

        <!--final success message modal -->
        <div class="modal fade" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Status</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for showing chat history between provider and the patient-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/customjs");

    <script type="text/javascript">

        var _apiurl = localStorage.getItem('ApiUrl');
        var clientkey = '@providerinfo.PracticeId';

        $(document).ready(function () {
            $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
            var ProviderId = '@providerinfo.Providerid';
            var isAdmin = '@providerinfo.isAdmin';
            LoadAllAmendmentStats(ProviderId);
            FetchAmendmentRequest(ProviderId, 'UnRead');
            BindProvidersList(0, 2);
            $.unblockUI();

            $("#tblMessages > tbody").delegate('tr.warning', 'click', function () {
                var RequestId = $(this).closest('tr').find('td:eq(1)').html();
                var RequestedDate = $(this).closest('tr').find('td:eq(2)').html();
                var PatientId = $(this).closest('tr').find('td:eq(3)').html();
                var PatientFirstName = $(this).closest('tr').find('td:eq(5)').html();
                var PatientLastName = $(this).closest('tr').find('td:eq(6)').html();
                var PatientDOB = $(this).closest('tr').find('td:eq(7)').html();
                var Message = $(this).closest('tr').find('td:eq(8)').html();
                var Sender = $(this).closest('tr').find('td:eq(9)').html();
                var ExternalId = $(this).closest('tr').find('td:eq(10)').html();
                var ProviderId = $(this).closest('tr').find('td:eq(11)').html();
                var PatientGender = $(this).closest('tr').find('td:eq(12)').html();
                var PatientMiddleName = $(this).closest('tr').find('td:eq(13)').html();
                UpdateAmendmentReadStatus(ProviderId, RequestId);

                $('#hdnRequestId').val(RequestId);
                $('#hdnPatientId').val(PatientId);
                $('#hdnPatientFirstName').val(PatientFirstName);
                $('#hdnPatientLastName').val(PatientLastName);
                $('#hdnPatientDOB').val(PatientDOB);
                $('#hdnSender').val(Sender);
                $('#hdnExternalId').val(ExternalId);
                $('#hdnProviderId').val(ProviderId);
                $('#hdnPatientMiddleName').val(PatientMiddleName);
                $('#hdnPatientGender').val(PatientGender);
                $("#tdRequestedDate").html(RequestedDate);

                $("#tdMessage").html(Message);
                $('#MessageModal').modal("show");
            });
        });

        function SendAmendmentResponse(MessageStatus) {
            $('#btnReject').prop('disabled', true);
            $('#btnAccept').prop('disabled', true);
            var RequestId = $('#hdnRequestId').val();
            var PatientAccount = $('#hdnPatientId').val();
            var PatientFirstName = $('#hdnPatientFirstName').val();
            var PatientLastName = $('#hdnPatientLastName').val();
            var PatientMiddleName = $('#hdnPatientMiddleName').val();
            var PatientDOB = $('#hdnPatientDOB').val();
            var PatientGender = $('#hdnPatientGender').val();
            var Sender = $('#hdnSender').val();
            var ExternalId = $('#hdnExternalId').val();
            var ProviderId = $('#hdnProviderId').val();

            $.ajax({
                url: _apiurl + 'SendAmendmentStatus/',
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                data: { 'ClientKey': clientkey, 'PatientFirstName': PatientFirstName, 'PatientLastName': PatientLastName, 'PatientMiddleName': PatientMiddleName, 'PatientAccount': PatientAccount, 'PatientDOB': PatientDOB, 'PatientGender': PatientGender, 'ExternalId': ExternalId, 'ProviderId': ProviderId, 'Sender': Sender, 'AmendmentStatus': MessageStatus, 'RequestId': RequestId },
                success: function (data, textStatus, xhr) {
                    var retrunedvalue = JSON.stringify(data);
                    if (retrunedvalue == 1) {
                        $('#hdnRequestId').val('');
                        $('#hdnPatientId').val('');
                        $('#hdnPatientFirstName').val('');
                        $('#hdnPatientLastName').val('');
                        $('#hdnPatientMiddleName').val('');
                        $('#hdnPatientDOB').val('');
                        $('#hdnPatientGender').val('');
                        $('#hdnSender').val('');
                        $('#hdnExternalId').val('');
                        $('#hdnProviderId').val('');
                        $("#MessageModal").modal("hide");
                        $("#successmodal .modal-title").html('Status');
                        $("#successmodal .modal-body").html('Response has been sent to Patient!.');
                        $('#successmodal').modal("show");

                        LoadAllAmendmentStats('@providerinfo.Providerid');
                        FetchAmendmentRequest('@providerinfo.Providerid', 'Close');
                        $('#btnReject').prop('disabled', false);
                        $('#btnAccept').prop('disabled', false);
                    }
                    else {
                        $("#successmodal .modal-title").html('Status');
                        $("#successmodal .modal-body").html('Some thing went worng, Please contact IO.');
                        $('#successmodal').modal("show");
                        $('#btnReject').prop('disabled', false);
                        $('#btnAccept').prop('disabled', false);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO to check this Issue');
                    $('#btnReject').prop('disabled', false);
                    $('#btnAccept').prop('disabled', false);
                }
            });
        }

        function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? ' PM' : ' AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
        }

        function UpdateAmendmentReadStatus(ProviderId, RequestId) {
            $.ajax({
                url: _apiurl + 'UpdateAmendmentStatus/?ProviderId=' + ProviderId + '&RequestId=' + RequestId + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        if (data[0].ResetStatus == 1) {
                            LoadAllAmendmentStats(ProviderId);
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO');
                }
            });
        }

        function LoadAllAmendmentStats(ProviderId) {
            $.ajax({
                url: _apiurl + 'FetchAllAmemdmentStats/?ProviderId=' + ProviderId + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        $("#dvactive").html(data[0].NewRequest);
                        $("#dvpending").html(data[0].PendingRequest);
                        $("#dvclosed").html(data[0].CloseRequest);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO');
                }
            });
        }

        function FetchAmendmentRequest(ProviderId, StatusType) {
            $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
            if (StatusType == 'Close') {
                $('#thResponseStatus').show();
                $('#thResponseDate').show();
            }
            else {
                $('#thResponseStatus').hide();
                $('#thResponseDate').hide();
            }
            $.ajax({
                url: _apiurl + 'FetchAmemdmentRequest/?ProviderId=' + ProviderId + '&RequestType=' + StatusType + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        $('#tbodysecuremessage').empty();
                        $('#tblname').html(StatusType + ' Request');
                        $.each(data, function (index) {
                            var _newIndex = index + 1;
                            var TempDate = new Date(data[index].RequestedDate);
                            var RequestedDate = formatDate(TempDate);
                            var ResponsedDate = "NA";
                            if (StatusType == 'Close') {
                                if (data[index].ResponseStatus != null) {
                                    var TempDate = new Date(data[index].ResponseDateTime);
                                    var ResponsedDate = formatDate(TempDate);
                                }
                                var Status = data[index].ResponseStatus == "0" ? "Rejected" : "Accepted";
                                $("#tblMessages > tbody").append("<tr class='info'><td>" + _newIndex + "</td><td style='display:none'>" + data[index].RequestId + "</td><td>" + RequestedDate + "</td><td>" + data[index].PatientId + "</td><td>" + data[index].PatientFirstName + ' ' + data[index].PatientLastName + "</td><td style='display:none;'>" + data[index].PatientFirstName + "</td><td style='display:none;'>" + data[index].PatientLastName + "</td><td>" + data[index].PatientDOB + "</td><td>" + data[index].Message + "</td><td>" + Status + "</td><td>" + ResponsedDate + "</td></tr>");
                            }
                            else {
                                $("#tblMessages > tbody").append("<tr class='warning'><td>" + _newIndex + "</td><td style='display:none'>" + data[index].RequestId + "</td><td>" + RequestedDate + "</td><td>" + data[index].PatientId + "</td><td>" + data[index].PatientFirstName + ' ' + data[index].PatientLastName + "</td><td style='display:none;'>" + data[index].PatientFirstName + "</td><td style='display:none;'>" + data[index].PatientLastName + "</td><td>" + data[index].PatientDOB + "</td><td>" + data[index].Message + "</td><td style='display:none'>" + data[index].Sender + "</td><td style='display:none'>" + data[index].ExternalId + "</td><td style='display:none'>" + data[index].ProviderId + "</td><td style='display:none'>" + data[index].PatientGender + "</td><td style='display:none'>" + data[index].PatientMiddleName + "</td></tr>");
                            }
                        });
                    }
                    $.unblockUI();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO');
                    $.unblockUI();
                }
            });
        }

    </script>
}
