﻿@using PatientPortalDashBoard.Models
@{
    ViewBag.Title = "Home Page";
}
@{
    var providerinfo = (Provider)ViewData["providerinfo"];
}

<!-- Navigation -->
@Html.Partial("TopBanner")

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Patient Demographics Request</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvactive"></div>
                                <div>New</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchDemographicsRequest('UnRead')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconnew"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvpending"></div>
                                <div>Pending</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchDemographicsRequest('Pending')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconpending"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <!--Need to understand the  logic for Closed status.. so just binding a 0 value here-->

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvclosed"></div>
                                <div>Closed</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchDemographicsRequest('Closed')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconclosed"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="tblheading">
                    <i class="fa fa-comments fa-fw"></i> <span id="tblname"></span> <!--Inbox-->

                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Filter
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#" onclick="FetchDemographicsRequest('UnRead')">UnRead</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchDemographicsRequest('Pending')">Pending</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchDemographicsRequest('Closed')">Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" style="height: 400px; overflow: auto; width:auto;overflow: auto">
                                <table class="table table-striped table-bordered table-hover" id="tblMessages">
                                    <thead>
                                        <tr>
                                            <th>#Sno</th>
                                            <th style="display:none">RequestId</th>
                                            <th>Requested Date</th>
                                            <th>PatientId</th>
                                            <th>Patient</th>
                                            <th>DOB</th>
                                            <th id="thResponseDate">Response Date</th>
                                            <th id="thRepliedMessage">Message</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodysecuremessage"></tbody>
                                </table>
                            </div>
                            <div>
                                <input type="hidden" id="hdnRequestId" />
                                <input type="hidden" id="hdnPatientId" />
                                <input type="hidden" id="hdnExternalId" />
                                <input type="hidden" id="hdnProviderId" />
                                <input type="hidden" id="hdnRequestDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for showing chat history between provider and the patient-->
        <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Patient Demographics Detail</h4>
                    </div>
                    <div class="modal-body" style="min-height:200px;max-height:300px;">
                        <table style="width:100%;">
                            <tr>
                                <td colspan="2" style="margin-bottom:10px;">
                                    <p id="tdMessage"></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p class="small" style="color:maroon">
                                        Confirm Patient, After making changes in IO.
                                        As it will take 24 hours to update the details at Patient Portal
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea rows="3" style="width:99%;resize:none;" placeholder="Type here your Comment for Appointment Status, Click Send" id="txtResponseContent"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnAccept" onclick="SendPatientDemographicsResponse();">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <!--final success message modal -->
        <div class="modal fade" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Patient Demographics Request Detail</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseScreen();">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for showing chat history between provider and the patient-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/customjs");

    <script type="text/javascript">

        var _apiurl = localStorage.getItem('ApiUrl');
        var clientkey = '@providerinfo.PracticeId';

        $(document).ready(function () {
            $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
            var ProviderId = '@providerinfo.Providerid';
            var isAdmin = '@providerinfo.isAdmin';
            LoadAllDemographicsStats();
            FetchDemographicsRequest('UnRead');
            BindProvidersList(0, 2);
            $.unblockUI();

            $("#tblMessages > tbody").delegate('tr.warning', 'click', function () {

                $('#hdnRequestId').val('');
                $('#hdnPatientId').val('');
                $('#hdnExternalId').val('');
                $('#hdnProviderId').val('');
                $('#hdnRequestDate').val('');

                var RequestId = $(this).closest('tr').find('td:eq(1)').html();
                var PatientId = $(this).closest('tr').find('td:eq(3)').html();
                var ExternalId = $(this).closest('tr').find('td:eq(6)').html();
                var ProviderId = $(this).closest('tr').find('td:eq(7)').html();
                var Description = $(this).closest('tr').find('td:eq(5)').html();
                var RequestDate = $(this).closest('tr').find('td:eq(2)').html();

                UpdateRequestReadStatus(RequestId);

                $('#txtResponseContent').val('');
                $('#hdnRequestId').val(RequestId);
                $('#hdnPatientId').val(PatientId);
                $('#hdnExternalId').val(ExternalId);
                $('#hdnProviderId').val(ProviderId);
                $('#hdnRequestDate').val(RequestDate);
                $("#tdMessage").html(Description);
                $('#MessageModal').modal("show");
            });

        });

        function CloseScreen() {
            $('#MessageModal').modal("hide");
        }

        function SendPatientDemographicsResponse() {

            $('#btnAccept').prop('disabled', true);

            if ($.trim($('#txtResponseContent').val()) == '') {
                alert('please enter the reply message');
                $('#btnAccept').prop('disabled', false);
                return;
            }

            var RequestId = $('#hdnRequestId').val();
            var ExternalId = $('#hdnExternalId').val();
            var ProviderId = $('#hdnProviderId').val();
            var PatientId = $('#hdnPatientId').val();
            var RequestDate = $('#hdnRequestDate').val();
            var ReplyMessage = $('#txtResponseContent').val();

            $.ajax({
                url: _apiurl + 'SendPatientDemographicsResponse/',
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                data: { 'ClientKey': clientkey, 'PatientAccount': PatientId, 'ExternalId': ExternalId, 'ProviderId': ProviderId, 'ReplyMessage': ReplyMessage, 'RequestId': RequestId, 'RequestedDate': RequestDate },
                success: function (data, textStatus, xhr) {
                    var retrunedvalue = JSON.stringify(data);
                    if (retrunedvalue == 1) {
                        $('#hdnRequestId').val('');
                        $('#hdnPatientId').val('');
                        $('#hdnExternalId').val('');
                        $('#hdnProviderId').val('');
                        $('#hdnRequestDate').val('');
                        $("#MessageModal").modal("hide");
                        $("#successmodal .modal-title").html('Status');
                        $("#successmodal .modal-body").html('Response has been sent to Patient!.');
                        $('#successmodal').modal("show");

                        LoadAllDemographicsStats();
                        FetchDemographicsRequest('Closed');
                        $('#btnAccept').prop('disabled', false);
                    }
                    else {
                        $("#successmodal .modal-title").html('Status');
                        $("#successmodal .modal-body").html('Some thing went worng, Please contact IO.');
                        $('#successmodal').modal("show");
                        $('#btnAccept').prop('disabled', false);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO to check this Issue');
                    $('#btnAccept').prop('disabled', false);
                }
            });
        }

        function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? ' PM' : ' AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
        }

        function UpdateRequestReadStatus(RequestId) {
            $.ajax({
                url: _apiurl + 'ReadRequest_PatientDemographics/?RequestId=' + RequestId + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        if (data == 1) {
                            LoadAllDemographicsStats();
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO');
                }
            });
        }

        function LoadAllDemographicsStats() {
            $.ajax({
                url: _apiurl + 'FetchPatientDemographicsStats/?ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        $("#dvactive").html(data[0].NewRequest);
                        $("#dvpending").html(data[0].PendingRequest);
                        $("#dvclosed").html(data[0].CloseRequest);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO');
                }
            });
        }

        function FetchDemographicsRequest(StatusType) {
            $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
            if (StatusType == 'Closed') {
                $('#thResponseDate').show();
                $('#thRepliedMessage').show();
            }
            else {
                $('#thResponseDate').hide();
                $('#thRepliedMessage').hide();
            }
            $.ajax({
                url: _apiurl + 'FetchPatientDemographicsRequest/?TypeId=' + StatusType + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        $('#tbodysecuremessage').empty();
                        $('#tblname').html(StatusType + ' Request');
                        $.each(data, function (index) {
                            var _newIndex = index + 1;
                            var TempDate = new Date(data[index].RequestedDate);
                            var RequestedDate = formatDate(TempDate);
                            var ResponsedDate = "NA";
                            if (StatusType == 'Closed') {
                                if (data[index].ResponseStatus != null) {
                                    var TempDate = new Date(data[index].ResponseDateTime);
                                    var ResponsedDate = formatDate(TempDate);
                                }
                                $("#tblMessages > tbody").append("<tr class='info'><td>" + _newIndex + "</td><td style='display:none'>" + data[index].RequestId + "</td><td>" + RequestedDate + "</td><td>" + data[index].PatientAccount + "</td><td>" + data[index].FirstName + ' ' + data[index].LastName + "</td><td style='display:none;'>" + data[index].Description + "</td><td>" + data[index].DOB + "</td><td>" + data[index].RepliedDate + "</td><td>" + data[index].RepliedMessage + "</td></tr>");
                            }
                            else {
                                $("#tblMessages > tbody").append("<tr class='warning'><td>" + _newIndex + "</td><td style='display:none'>" + data[index].RequestId + "</td><td>" + RequestedDate + "</td><td>" + data[index].PatientAccount + "</td><td>" + data[index].FirstName + ' ' + data[index].LastName + "</td><td style='display:none;'>" + data[index].Description + "</td><td style='display:none'>" + data[index].ExternalId + "</td><td style='display:none'>" + data[index].ProviderId + "</td><td>" + data[index].DOB + "</td></tr>");
                            }
                        });
                    }
                    $.unblockUI();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO');
                    $.unblockUI();
                }
            });
        }

    </script>
}
