﻿@using PatientPortalDashBoard.Models
@{
    ViewBag.Title = "Home Page";
}
@{
    var providerinfo = (Provider)ViewData["providerinfo"];
}

<!-- Navigation -->
@Html.Partial("TopBanner")

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <span id="header">Secure Messaging</span>
                <a href="#" class="btn btn-success pull-right btn-sm" onclick="OpenComposeMessage();" id="btnCompose">Compose</a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvactive"></div>
                                <div>Inbox</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left" id="spactive">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconnew"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvpending"></div>
                                <div>Outbox</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left" id="sppending">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconpending"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <!--Need to understand the  logic for Closed status.. so just binding a 0 value here-->

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvclosed"></div>
                                <div>Closed</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left" id="spclosed">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconclosed"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="tblheading">
                    <i class="fa fa-comments fa-fw"></i> <span id="tblname"></span> <!--Inbox-->
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Filter
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#" onclick="FetchRecordsBasedonStatus('Inbox')">Inbox</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchRecordsBasedonStatus('Outbox')">Outbox</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchRecordsBasedonStatus('Closed')">Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" style="height: 400px; overflow: auto; width:auto;overflow: auto">
                                <table class="table table-striped table-bordered table-hover" id="tblMessages">
                                    <thead>
                                        <tr>
                                            <th>#Sno</th>
                                            <th style="display:none">InboxId</th>
                                            <th>Date</th>
                                            <th>PatientId</th>
                                            <th>Patient</th>
                                            <th>Subject</th>
                                            <th>DOB</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodysecuremessage"></tbody>
                                </table>
                            </div>
                            <div>
                                <input type="hidden" id="hdnportalid" />
                                <input type="hidden" id="hdnsubject" />
                                <input type="hidden" id="hdnpatientid" />
                                <input type="hidden" id="hdnfirstname" />
                                <input type="hidden" id="hdnlastname" />
                                <input type="hidden" id="hdnmiddlename" />
                                <input type="hidden" id="hdndob" />
                                <input type="hidden" id="hdngender" />
                                <input type="hidden" id="hdnsubject" />
                                <input type="hidden" id="hdnexternalid">
                                <input type="hidden" id="hdnproviderid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---new modal for SEnding new message-->
        <div class="modal fade" id="newmessagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Modal for Compose new message-->
        <div class="modal fade" id="ComposeModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Message</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-11">
                                    <input type="text" id="txtPatientName" class="form-control" placeholder="Type Patient Last Name (4 Chars Minimum)" />
                                    <input type="text" id="txtDisplayPatientName" class="form-control" disabled="disabled" />
                                </div>
                                <div class="col-xs-1" id="div_button">
                                    <button style="font-weight: bold; border: medium none; margin-left: -20px; border-radius: 27px; background-color: maroon; color: white; padding: 5px 9px; width: 31px;" type="button" onclick="CleanAutoComplete();">X</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtSubjectDesc" class="form-control" placeholder="Type Subject here" />
                        </div>
                        <textarea id="txtMessageContainer" style="resize:none;" rows="8" placeholder="Type your message here" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="CloseComposeMessage();">Close</button>
                        <button id="btnSendNewmessage" type="button" class="btn btn-primary" onclick="SendNewMessage(this);">Send Message</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal for showing chat history between provider and the patient-->
        <div class="modal fade" id="chatmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnclose">Mark as Completed</button>
                        <button type="button" class="btn btn-primary" id="btnreply">Reply</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- compose Message -->
        <div class="modal fade" id="modalCompose" tabindex="-1" role="dialog" aria-labelledby="mycomposemodal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btncross">×</button>
                        <h4 class="modal-title" id="mycomposemodal"></h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2" for="inputSubject">Subject</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSubject" placeholder="subject" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2" for="inputBody">Message Body</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="11" id="txtmessage"></textarea>
                                    <small>
                                        You have <span id="charsLeft"></span> chars Left.
                                    </small>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="btncancel">Cancel</button>
                        <button type="button" class="btn btn-primary " id="btnsendreply">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
                    </div>

                </div>

            </div>
        </div>

        <!--final success message modal -->
        <div class="modal fade" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for showing chat history between provider and the patient-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")
    ;

    <script type="text/javascript">
        var providerIdinfo = null;
        var clientkey = null;
        var _apiurl = null;
        $(document).ready(function () {

            $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
            clientkey = '@providerinfo.PracticeId';
            _apiurl = localStorage.getItem('ApiUrl');
            providerIdinfo = '@providerinfo.Providerid';
            var SecureMessageId = GetParameterValues('SM');
            if (SecureMessageId != 0) {
                $("#ul_menu").addClass("in");
                providerIdinfo = SecureMessageId;
            }
            if ('@providerinfo.isAdmin' == 'Y') {
                BindProvidersList(SecureMessageId, 1);
                $("#btnCompose").hide();
            }
            FetchMessageCount(providerIdinfo);
            FetchRecordsBasedonStatus('Inbox');

            $.unblockUI();

            $("#tblMessages > tbody").delegate('tr', 'click', function () {
                var InboxId = $(this).closest('tr').find('td:eq(1)').html();
                var PatientAccount = $(this).closest('tr').find('td:eq(3)').html();
                var Subject = $(this).closest('tr').find('td:eq(5)').html();
                var FirstName = $(this).closest('tr').find('td:eq(7)').html();
                var LastName = $(this).closest('tr').find('td:eq(8)').html();
                var MiddleName = $(this).closest('tr').find('td:eq(9)').html();
                var DOB = $(this).closest('tr').find('td:eq(6)').html();
                var Gender = $(this).closest('tr').find('td:eq(10)').html();
                var ExternalId = $(this).closest('tr').find('td:eq(11)').html();

                $('#hdnsubject').val(Subject);
                $('#hdnportalid').val(InboxId);
                $('#hdnfirstname').val(FirstName);
                $('#hdnlastname').val(LastName);
                $('#hdnmiddlename').val(MiddleName);
                $('#hdndob').val(DOB);
                $('#hdngender').val(Gender);
                $('#hdnexternalid').val(ExternalId);
                $('#hdnproviderid').val(providerIdinfo);
                $('#hdnpatientid').val(PatientAccount);

                $(this).css("font-weight", "normal");
                ReadStatus_Message(InboxId);

                $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" />Showing Chat...</h4>' });
                $.ajax({
                    url: _apiurl + 'FetchChatHistory/?portalinboxid=' + InboxId + '&clientkey=' + clientkey,
                    type: 'Get',
                    dataType: 'json',
                    cache: false,
                    crossdomain: true,
                    success: function (data, textStatus, xhr) {
                        if (data[0].MessageId !== null) {
                            var bindhtml = "<ul class='chat'>";
                            $.each(data, function (index) {
                                if (data[index].FromPatient == '1') {
                                    bindhtml += "<li class='left clearfix'>";
                                    bindhtml += "<span class='chat-img pull-left'>";
                                    bindhtml += "<img src='@Url.Content("~/images/patient_image.png")' alt='Patient' class='img-circle' />";
                                    bindhtml += "</span>";
                                    bindhtml += "<div class='chat-body clearfix'>";
                                    bindhtml += "<strong class='primary-font'  style='position: relative; left: -7px; top: -11px;' >Patient</strong>";
                                    bindhtml += '<div class="form-control input-lg" style="width:429px;overflow-y:auto;height:auto;display:inline-block;max-height:150px;background-color:#f1f1f1;cursor:text;" id="pttext' + data[index] + '" >' + data[index].Description + '</div>';
                                    bindhtml += "</li>";
                                }
                                else if (data[index].FromPatient == '0') {
                                    bindhtml += "<li class='right clearfix'>";
                                    bindhtml += "<span class='chat-img pull-right'>";
                                    bindhtml += "<img src='@Url.Content("~/images/doctorimage.jpg")' alt='Provider' class='img-circle' />";
                                    bindhtml += "</span>";
                                    bindhtml += "<div class='chat-body clearfix'>";
                                    bindhtml += "<strong class='pull-right primary-font' style='position: relative; right: -13px; top: 1px;'>Provider</strong>";
                                    bindhtml += '<div class="form-control input-lg" style="width:412px;overflow-y:auto;height:auto;max-height:150px;background-color:#f3f3f3;cursor:text;display:inline-block;" id="providertext' + data[index] + '" >' + data[index].Description + '</div>';
                                    bindhtml += "</li>";
                                }
                            });
                            bindhtml += "</ul>";
                            var _isclosedflag = data[0].isClosed;
                            showChatModal(Subject, bindhtml, _isclosedflag);
                            $.unblockUI();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error occurred while showing thread messages from Table');
                    }
                });
            });

            $('#btnreply').on('click', function () {
                $('#chatmodal').modal('hide');
                ComposeMessageModal('Reply');
            });

            $('#btnclose').on('click', function () {
                $('#chatmodal').modal('hide');
                var _portalid = $('#hdnportalid').val();
                closemessagethread(_portalid);
            });

            // Create new variables here and post them to the action method
            $('#btnsendreply').on('click', function () {
                $('#btnsendreply').prop('disabled', true);
                if ($.trim($('#txtmessage').val()) == "") {
                    alert('Please enter the message');
                    $('#btnsendreply').prop('disabled', false);
                }
                else {
                    var portalinboxid = $('#hdnportalid').val();
                    var description = $('#txtmessage').val();
                    var subject = $('#hdnsubject').val();
                    var firstname = $('#hdnfirstname').val();
                    var lastname = $('#hdnlastname').val();
                    var middlename = $('#hdnmiddlename').val();
                    var dob = $('#hdndob').val();
                    var externalid = $('#hdnexternalid').val();
                    var providerid = $('#hdnproviderid').val();
                    var patientaccount = $('#hdnpatientid').val();
                    var gender = $('#hdngender').val();
                    SendReply(portalinboxid, description, subject, firstname, lastname, middlename, patientaccount, dob, gender, externalid, providerid);
                }
            });

            $('#btnResetPassword').on('click', function () {
                var OldPassword = $('#txtOldPassword').val();
                var NewPassword = $('#txtNewPassword').val();
                var CNFPassword = $('#txtCnfPassword').val();

                $('#lblStatusMessage').html('');

                if (OldPassword == "") {
                    $('#lblStatusMessage').html('Please enter your old Password');
                    return false;
                }

                if (NewPassword == "") {
                    $('#lblStatusMessage').html('Please enter your new Password');
                    return false;
                }

                if (CNFPassword == "") {
                    $('#lblStatusMessage').html('Please re enter your new Password');
                    return false;
                }

                if (NewPassword != CNFPassword) {
                    $('#lblStatusMessage').html('Password & Confirm Password should be same');
                    return false;
                }

                $('#lblStatusMessage').html('');

                $.ajax({
                    url: _apiurl + 'ChangePassword?Clientkey=' + clientkey + '&ProviderId=' + @providerinfo.Providerid + '&OldPassword=' + OldPassword + '&NewPassword=' + NewPassword,
                    type: 'Get',
                    cache: false,
                    crossdomain: true,
                    success: function (data, textStatus, xhr) {
                        if (data[0].ResetStatus == 0) {
                            $('#lblStatusMessage').html('Your current password is incorrect, Please try again');
                            return false;
                        }
                        else if (data[0].ResetStatus == 1) {
                            alert('Password changed successfully');
                            var url = '@Url.Action("Login", "Account", new { PracticeId = "_PracticeId_" })';
                            url = url.replace("_PracticeId_", '@providerinfo.PracticeId');
                            url = url.replace("amp;", "");
                            window.location.href = url;
                        }
                        else {
                            alert('Something went wrong, Please contact IO to check this Issue');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Something went wrong, Please contact IO to check this Issue');
                    }
                });

            });

            $('.btn-group').on('click', function () {
                $(this).removeClass('btn-group');
                $(this).addClass('btn-group open');
            });

            $('.dropdown').on('click', function () {
                $(this).removeClass('dropdown');
                $(this).addClass('dropdown open');
            });

            $('#btnChangePassword').click(function () {
                $('#lblStatusMessage').html('');
                $('#txtOldPassword').val('');
                $('#txtNewPassword').val('');
                $('#txtCnfPassword').val('');
                $('#ResetPassword').modal("show");
            });

            $('#ul_menu').on('click', 'a', function (event) {
                var clientkey = '@providerinfo.PracticeId';
                var providerid = this.id;
                event.preventDefault();
            });

            //new Message count
            $('#spactive').on('click', function () {
                FetchRecordsBasedonStatus('Inbox');
            });

            //pending Message count
            $('#sppending').on("click", function () {
                FetchRecordsBasedonStatus('Outbox');
            });

            //closed Message count
            $('#spclosed').on("click", function () {
                FetchRecordsBasedonStatus('Closed');
            });

            //new icon
            $('#iconnew').on('click', function () {
                FetchRecordsBasedonStatus('Inbox');
            });

            //pending icon
            $('#iconpending').on("click", function () {
                FetchRecordsBasedonStatus('Outbox');
            });

            //closed icon
            $('#iconclosed').on("click", function () {
                FetchRecordsBasedonStatus('Closed');
            });

            $('#btncancel').click(function () {
                $('#txtmessage').val('');
            });

            $('#btncross').click(function () {
                $('#txtmessage').val('');
            });

            $('#txtMessageContainer').limit('500', '#charsLeft');

            $('#txtmessage').limit('500', '#charsLeft');

            $('#ul_menu').on('click', 'a', function (event) {
                var clientkey = '@providerinfo.PracticeId';
                var providerid = this.id;
                event.preventDefault();
            });

            $('#btncancel').click(function () {
                $('#txtmessage').val('');
            });

            $('#btncross').click(function () {
                $('#txtmessage').val('');
            });

            $('#txtmessage').limit('500', '#charsLeft');
            
            $('#txtPatientName').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: _apiurl + 'GetPatientList/',
                        data: "PatientPrefix=" + request.term + "&ClientKey=" + clientkey,
                        dataType: "json",
                        cache: false,
                        crossdomain: true,
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { value: item.PatientId, label: item.PatientDesc };
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $('#div_button').show();
                    $(this).hide();
                    $('#txtDisplayPatientName').show();
                    $('#txtDisplayPatientName').val(i.item.label)
                    $("#hdnPatientId").val(i.item.value);
                },
                minLength: 4
            });

        });

        function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? ' PM' : ' AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
        }

        function ReadStatus_Message(InboxId) {
            $.ajax({
                url: _apiurl + 'ReadStatus_Message/?InboxId=' + InboxId + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                },
                error: function (xhr, textStatus, errorThrown) {
                }
            });
        }

        function FetchMessageCount(providerid) {
            $.ajax({
                url: _apiurl + 'FetchMessageCount/?providerid=' + providerid + '&clientkey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        $('#dvactive').html(data[0].Inbox);
                        $('#dvpending').html(data[0].Outbox);
                        $('#dvclosed').html(data[0].Closed);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error in Fetching message count for logged in provider');
                }
            });
        }


        function showChatModal(title, html, isclosed) {
            if (isclosed == 'Y') {
                $("#chatmodal .modal-title").html(title);
                $("#chatmodal .modal-body").html(html);
                $('#btnclose').hide();
                $('#btnreply').hide();
                $('#chatmodal').modal("show");
            }
            else {
                $("#chatmodal .modal-title").html(title);
                $("#chatmodal .modal-body").html(html);
                $('#btnclose').show();
                $('#btnreply').show();
                $('#chatmodal').modal("show");
            }
        }

        

        function ComposeMessageModal(title, html) {
            $("#modalCompose .modal-title").html(title);
            var _subject = $('#hdnsubject').val();
            $('#inputSubject').val(_subject);
            $('#modalCompose').modal("show");
            $('txtmessage').focus();
        }

        function SendReply(portalinboxid, description, subject, firstname, lastname, middlename, patientaccount, dob, gender, externalid, providerid) {
            //alert(portalinboxid);
            if (description == '') {
                $('#modalCompose').modal('hide');
                Showsuccessmessage('Alert!', 'Please fill the message field');
                $('#btnsendreply').prop('disabled', false);
            }
            else {
                $.ajax({
                    url: _apiurl + 'SendReplytoPatient/',
                    type: 'Get',
                    dataType: 'json',
                    cache: false,
                    crossdomain: true,
                    data: { 'PortalInboxId': portalinboxid, 'ReplyMessage': description, 'ClientKey': clientkey, 'FirstName': firstname, 'LastName': lastname, 'MiddleName': middlename, 'PatientAccount': patientaccount, 'DOB': dob, 'Gender': gender, 'ExternalId': externalid, 'ProviderId': providerid, 'Subject': subject, 'isAdmin' : '@providerinfo.isAdmin' },
                    success: function (data, textStatus, xhr) {
                        var retrunedvalue = JSON.stringify(data);
                        if (retrunedvalue == 1) {
                            $('#hdnsubject').val('');
                            $('#hdnportalid').val('');
                            $('#hdnfirstname').val('');
                            $('#hdnlastname').val('');
                            $('#hdnmiddlename').val('');
                            $('#hdndob').val('');
                            $('#hdngender').val('');
                            $('#hdnexternalid').val('');
                            $('#hdnproviderid').val('');
                            $('#hdnpatientid').val('');
                            $('#hdnportalid').val('');
                            $('#hdnsubject').val('');
                            $('#txtmessage').val('');
                            $('#modalCompose modal-body').html('');
                            $('#modalCompose').modal('hide');
                            Showsuccessmessage('Reply', 'Reply has been sent to the patient');
                            FetchMessageCount(providerIdinfo);
                            if ($('#tblname').html() == 'Outbox Messages') {
                                FetchRecordsBasedonStatus('Outbox');
                            }
                            else {
                                FetchRecordsBasedonStatus('Inbox');
                            }
                        }
                        else {
                            alert('data is not returned');
                        }
                        $('#btnsendreply').prop('disabled', false);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $('#hdnsubject').val('');
                        $('#hdnportalid').val('');
                        $('#hdnfirstname').val('');
                        $('#hdnlastname').val('');
                        $('#hdnmiddlename').val('');
                        $('#hdndob').val('');
                        $('#hdngender').val('');
                        $('#hdnexternalid').val('');
                        $('#hdnproviderid').val('');
                        $('#hdnpatientid').val('');
                        alert('some error occurred in Send Reply Function');
                        $('#btnsendreply').prop('disabled', false);
                    }
                });
            }
        }

        //funtion for closing the message thread
        function closemessagethread(portalid) {
            $.ajax({
                url: _apiurl + 'closemessagethread/?portalinboxid=' + portalid + '&clientkey=' + clientkey,
                type: 'POST',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data[0].closed == 'closed') {
                        $('#hdnportalid').val('');
                        $('#hdnsubject').val('');
                        Showsuccessmessage('Message Closed', 'Message thread has been closed');
                        FetchRecordsBasedonStatus('Close');
                        FetchMessageCount(providerIdinfo)
                        if ($('#tblname').html() == 'Outbox Messages') {
                            FetchRecordsBasedonStatus('Outbox');
                        }
                        else {
                            FetchRecordsBasedonStatus('Inbox');
                        }
                    }
                    else {
                        alert('data not returned');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('some error occurred in Closing the Message From thread');
                }
            });
        }

        function Showsuccessmessage(title, html) {
            $("#successmodal .modal-title").html(title);
            $("#successmodal .modal-body").html(html);
            $('#successmodal').modal("show");
        }

        function OpenComposeMessage() {
            $('#div_button').hide();
            $('#txtMessageContainer').val('');
            $('#txtDisplayPatientName').hide();
            $('#txtDisplayPatientName').val('');
            $('#txtPatientName').show();
            $('#txtPatientName').val('');
            $('#txtSubjectDesc').val('');
            $('#ComposeModal').modal("show");
        }

        function CleanAutoComplete() {
            $('#div_button').hide();
            $('#txtPatientName').show();
            $('#txtDisplayPatientName').hide();
            $('#txtDisplayPatientName').val('');
            $('#txtPatientName').val('');
        }

        function CloseComposeMessage() {
            $('#div_button').hide();
            $('#txtMessageContainer').val('');
            $('#txtDisplayPatientName').hide();
            $('#txtDisplayPatientName').val('');
            $('#txtPatientName').show();
            $('#txtPatientName').val('');
            $('#txtSubjectDesc').val('');
            $('#ComposeModal').modal("hide");
        }

        function GetParameterValues(param) {
            if (window.location.href.indexOf(param) != -1) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            }
            else {
                return 0;
            }
        }

        function FetchRecordsBasedonStatus(StatusId) {
            $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" />Please wait...</h4>' });
            $.ajax({
                url: _apiurl + 'FetchRecordsBasedonStatus/?typeid=' + StatusId + '&providerid=' + providerIdinfo + '&clientkey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        if (StatusId == 'Inbox') {

                            $('#tbodysecuremessage').empty();
                            $('#tblname').html('Inbox Messages');
                            $.each(data, function (index) {

                                var _newindex = index + 1;
                                var CreatedDate = new Date(data[index].CreatedDate);
                                var FormatedDate = formatDate(CreatedDate);
                                var patientDOB = data[index].DOB;
                                var IsReadTag = data[index].IsRead == "0" ? "style='font-weight:bold;'" : "";
                                $("#tblMessages > tbody").append("<tr class='info' " + IsReadTag + "><td>" + _newindex + "</td><td style='display:none'>" + data[index].Id + "</td><td>" + FormatedDate + "</td><td>" + data[index].PatientId + "</td><td>" + data[index].LastName + ',' + data[index].FirstName + "</td><td>" + data[index].Subject + "</td><td>" + patientDOB + "</td><td style='display:none'>" + data[index].FirstName + "</td><td style='display:none'>" + data[index].LastName + "</td><td style='display:none'>" + data[index].MiddleName + "</td><td style='display:none'>" + data[index].Gender + "</td><td style='display:none'>" + data[index].ExternalId + "</td></tr>");

                            });

                            $.unblockUI();
                        }
                        else if (StatusId == 'Outbox') {

                            $('#tbodysecuremessage').empty();
                            $('#tblname').html('Outbox Messages');
                            $.each(data, function (index) {

                                var _newindex = index + 1;
                                var CreatedDate = new Date(data[index].CreatedDate);
                                var FormatedDate = formatDate(CreatedDate);
                                var patientDOB = data[index].DOB;
                                var IsReadTag = data[index].IsRead == "0" ? "style='font-weight:bold;'" : "";
                                $("#tblMessages > tbody").append("<tr class='info' " + IsReadTag + "><td>" + _newindex + "</td><td style='display:none'>" + data[index].Id + "</td><td>" + FormatedDate + "</td><td>" + data[index].PatientId + "</td><td>" + data[index].LastName + ',' + data[index].FirstName + "</td><td>" + data[index].Subject + "</td><td>" + patientDOB + "</td><td style='display:none'>" + data[index].FirstName + "</td><td style='display:none'>" + data[index].LastName + "</td><td style='display:none'>" + data[index].MiddleName + "</td><td style='display:none'>" + data[index].Gender + "</td><td style='display:none'>" + data[index].ExternalId + "</td></tr>");

                            });

                            $.unblockUI();
                        }
                        else {

                            $('#tbodysecuremessage').empty();
                            $('#tblname').html('Closed Messages');
                            $.each(data, function (index) {

                                var _newindex = index + 1;
                                var CreatedDate = new Date(data[index].CreatedDate);
                                var FormatedDate = formatDate(CreatedDate);
                                var patientDOB = data[index].DOB;

                                $("#tblMessages > tbody").append("<tr class='info'><td>" + _newindex + "</td><td style='display:none'>" + data[index].Id + "</td><td>" + FormatedDate + "</td><td>" + data[index].PatientId + "</td><td>" + data[index].LastName + ',' + data[index].FirstName + "</td><td>" + data[index].Subject + "</td><td>" + patientDOB + "</td><td style='display:none'>" + data[index].FirstName + "</td><td style='display:none'>" + data[index].LastName + "</td><td style='display:none'>" + data[index].MiddleName + "</td><td style='display:none'>" + data[index].Gender + "</td><td style='display:none'>" + data[index].ExternalId + "</td></tr>");

                            });
                            $.unblockUI();
                        }
                        $.unblockUI();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('some error occurred while binding the Table based on status');
                }
            });
        }

        

        function SendNewMessage(MyId) {

            $(MyId).prop('disabled', true);

            if ($('#txtDisplayPatientName').val() == "") {
                alert('Please select Patient Name');
                $(MyId).prop('disabled', false);
                return;
            }

            if ($.trim($('#txtSubjectDesc').val()) == "") {
                alert('Please enter subject');
                $(MyId).prop('disabled', false);
                return;
            }

            if ($.trim($('#txtMessageContainer').val()) == "") {
                alert('Please enter message');
                $(MyId).prop('disabled', false);
                return;
            }

            var Message = $('#txtMessageContainer').val();
            var Subject = $('#txtSubjectDesc').val();
            var PatientAccount = $('#txtPatientName').val();
            var ProviderId = providerIdinfo;
            var ExternalId = 0;
           
            $.ajax({
                url: _apiurl + 'ComposeNewMessage/?Message=' + Message + '&ClientKey=' + clientkey + '&PatientAccount=' + PatientAccount + '&ExternalId=' + ExternalId + '&ProviderId=' + ProviderId + '&Subject=' + Subject,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    var retrunedvalue = JSON.stringify(data);
                    if (retrunedvalue == 1) {
                        $('#txtMessageContainer').val('');
                        $('#txtSubjectDesc').val('');
                        $('#txtPatientName').val('');
                        $('#txtDisplayPatientName').val('');
                        $('#ComposeModal').modal("hide");
                        Showsuccessmessage('Message', 'Message send successfully to selected patient');
                        FetchMessageCount(ProviderId);
                        if ($('#tblname').html() == 'Outbox Messages') {
                            FetchRecordsBasedonStatus('Outbox');
                        }
                        else {
                            FetchRecordsBasedonStatus('Inbox');
                        }
                    }
                    else {
                        $('#txtMessageContainer').val('');
                        $('#txtSubjectDesc').val('');
                        $('#txtPatientName').val('');
                        $('#txtDisplayPatientName').val('');
                        $('#ComposeModal').modal("hide");
                        alert('Something went wrong, Please Contact IO');
                    }
                    $(MyId).prop('disabled', false);
                },
                error: function (xhr, textStatus, errorThrown) {
                    $('#txtMessageContainer').val('');
                    $('#txtSubjectDesc').val('');
                    $('#txtPatientName').val('');
                    $('#txtDisplayPatientName').val('');
                    $('#ComposeModal').modal("hide");
                    alert('Something went wrong, Please Contact IO');
                    $(MyId).prop('disabled', false);
                }

            });
        }

    </script>
}
