﻿@using PatientPortalDashBoard.Models
@{
    ViewBag.Title = "Home Page";
}
@{
    var providerinfo = (Provider)ViewData["providerinfo"];
}

<!-- Navigation -->
@Html.Partial("TopBanner")

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Refill Request</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvactive"></div>
                                <div>New</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchMedicationRequest(@providerinfo.Providerid, 'UnRead')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconnew"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvpending"></div>
                                <div>Pending</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchMedicationRequest(@providerinfo.Providerid, 'Pending')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconpending"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <!--Need to understand the  logic for Closed status.. so just binding a 0 value here-->

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="dvclosed"></div>
                                <div>Closed</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="z-index:0">
                        <div class="panel-footer" onclick="FetchMedicationRequest(@providerinfo.Providerid, 'Closed')">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right" id="iconclosed"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="tblheading">
                    <i class="fa fa-comments fa-fw"></i> <span id="tblname"></span> <!--Inbox-->

                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Filter
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#" onclick="FetchMedicationRequest(@providerinfo.Providerid, 'UnRead')">UnRead</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchMedicationRequest(@providerinfo.Providerid, 'Pending')">Pending</a>
                                </li>
                                <li>
                                    <a href="#" onclick="FetchMedicationRequest(@providerinfo.Providerid, 'Closed')">Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" style="height: 400px; overflow: auto; width:auto;overflow: auto">
                                <table class="table table-striped table-bordered table-hover" id="tblMessages">
                                    <thead>
                                        <tr>
                                            <th>#Sno</th>
                                            <th style="display:none">RequestId</th>
                                            <th>Date</th>
                                            <th>PatientId</th>
                                            <th>Patient</th>
                                            <th>DOB</th>
                                            <th style="display:none">Description</th>
                                            <th>Medicine Name</th>
                                            <th>Instruction</th>
                                            <th id="thResponseStatus">Replied Message</th>
                                            <th id="thResponseDate">Response Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodysecuremessage"></tbody>
                                </table>
                            </div>
                            <div>
                                <input type="hidden" id="hdnRequestId" />
                                <input type="hidden" id="hdnPatientId" />
                                <input type="hidden" id="hdnExternalId">
                                <input type="hidden" id="hdnProviderId">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for showing chat history between provider and the patient-->
        <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Refill Request Detail</h4>
                    </div>
                    <div class="modal-body" style="min-height:200px;max-height:300px;">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    Requested Date
                                </td>
                                <td>
                                    <p id="p_RequestedDate"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Medicine Name
                                </td>
                                <td>
                                    <p id="p_MedicineName"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Instructions
                                </td>
                                <td>
                                    <p id="p_InstrutionName"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Description
                                </td>
                                <td>
                                    <p id="p_Description"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnReject" onclick="SendMedicationResponse('0');">Reject</button>
                        <button type="button" class="btn btn-primary" id="btnAccept" onclick="SendMedicationResponse('1');">Accept</button>
                    </div>
                </div>
            </div>
        </div>

        <!--final success message modal -->
        <div class="modal fade" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Refill Status</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseScreen();">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for showing chat history between provider and the patient-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/customjs");

    <script type="text/javascript">

    var _apiurl = localStorage.getItem('ApiUrl');
    var clientkey = '@providerinfo.PracticeId';

    $(document).ready(function () {
        $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
        var ProviderId = '@providerinfo.Providerid';
        var isAdmin = '@providerinfo.isAdmin';
            LoadAllMedicationStats(ProviderId);
            FetchMedicationRequest(ProviderId, 'UnRead');
            BindProvidersList(0, 2);
            $.unblockUI();

            $("#tblMessages > tbody").delegate('tr.warning', 'click', function () {
                var RequestId = $(this).closest('tr').find('td:eq(1)').html();
                var PatientId = $(this).closest('tr').find('td:eq(3)').html();
                var ExternalId = $(this).closest('tr').find('td:eq(6)').html();
                var ProviderId = $(this).closest('tr').find('td:eq(10)').html();

                var Description = $(this).closest('tr').find('td:eq(7)').html();
                var InstructionName = $(this).closest('tr').find('td:eq(9)').html();
                var RequestedDate = $(this).closest('tr').find('td:eq(2)').html();
                var MedicineName = $(this).closest('tr').find('td:eq(8)').html();

                UpdateMedicationReadStatus(RequestId);

                $('#hdnRequestId').val(RequestId);
                $('#hdnPatientId').val(PatientId);
                $('#hdnExternalId').val(ExternalId);
                $('#hdnProviderId').val(ProviderId);

                $('#p_RequestedDate').html(RequestedDate);
                $('#p_MedicineName').html(MedicineName);
                $('#p_InstrutionName').html(InstructionName);
                $('#p_Description').html(Description);

                $("#tdMessage").html(Description);
                $('#MessageModal').modal("show");
            });

        });

        function CloseScreen() {
            $('#MessageModal').modal("hide");
        }

        function SendMedicationResponse(Status) {
            $('#btnReject').prop('disabled', true);
            $('#btnAccept').prop('disabled', true);

            var RequestId = $('#hdnRequestId').val();
            var ExternalId = $('#hdnExternalId').val();
            var ProviderId = $('#hdnProviderId').val();
            var PatientId = $('#hdnPatientId').val();

            $.ajax({
                url: _apiurl + 'SendOcularMedicationResponse/',
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                data: { 'ClientKey': clientkey, 'PatientAccount': PatientId, 'ExternalId': ExternalId, 'ProviderId': ProviderId, 'ReplyMessage': Status, 'RequestId': RequestId },
                success: function (data, textStatus, xhr) {
                    var retrunedvalue = JSON.stringify(data);
                    if (retrunedvalue == 1) {
                        $('#hdnRequestId').val('');
                        $('#hdnPatientId').val('');
                        $('#hdnExternalId').val('');
                        $('#hdnProviderId').val('');
                        $("#MessageModal").modal("hide");
                        $("#successmodal .modal-title").html('Status');
                        $("#successmodal .modal-body").html('Response has been sent to Patient!.');
                        $('#successmodal').modal("show");

                        LoadAllMedicationStats(ProviderId);
                        FetchMedicationRequest(ProviderId, 'Closed');
                        $('#btnReject').prop('disabled', false);
                        $('#btnAccept').prop('disabled', false);
                    }
                    else {
                        $("#successmodal .modal-title").html('Status');
                        $("#successmodal .modal-body").html('Some thing went worng, Please contact IO.');
                        $('#successmodal').modal("show");
                        $('#btnReject').prop('disabled', false);
                        $('#btnAccept').prop('disabled', false);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went wrong, Please contact IO to check this Issue');
                    $('#btnReject').prop('disabled', false);
                    $('#btnAccept').prop('disabled', false);
                }
            });
        }

        function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? ' PM' : ' AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
        }

        function UpdateMedicationReadStatus(RequestId) {
            $.ajax({
                url: _apiurl + 'ReadRequest_OcularMedication/?RequestId=' + RequestId + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {
                        if (data == 1) {
                            LoadAllMedicationStats(@providerinfo.Providerid);
                    }
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Something went wrong, Please contact IO');
            }
        });
    }

    function LoadAllMedicationStats(ProviderId) {
        $.ajax({
            url: _apiurl + 'FetchOcularMedicationStats/?ProviderId=' + ProviderId + '&ClientKey=' + clientkey,
            type: 'GET',
            dataType: 'json',
            cache: false,
            crossdomain: true,
            success: function (data, textStatus, xhr) {
                if (data.d !== '') {
                    $("#dvactive").html(data[0].NewRequest);
                    $("#dvpending").html(data[0].PendingRequest);
                    $("#dvclosed").html(data[0].CloseRequest);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Something went wrong, Please contact IO');
            }
        });
    }

    function FetchMedicationRequest(ProviderId, StatusType) {
        $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
        if (StatusType == 'Closed') {
            $('#thResponseStatus').show();
            $('#thResponseDate').show();
        }
        else {
            $('#thResponseStatus').hide();
            $('#thResponseDate').hide();
        }
        $.ajax({
            url: _apiurl + 'FetchOcularMedicationRequest/?ProviderId=' + ProviderId + '&TypeId=' + StatusType + '&ClientKey=' + clientkey,
            type: 'GET',
            dataType: 'json',
            cache: false,
            crossdomain: true,
            success: function (data, textStatus, xhr) {
                if (data.d !== '') {
                    $('#tbodysecuremessage').empty();
                    $('#tblname').html(StatusType + ' Request');
                    $.each(data, function (index) {
                        var _newIndex = index + 1;
                        var TempDate = new Date(data[index].RequestedDate);
                        var RequestedDate = formatDate(TempDate);
                        var ResponsedDate = "NA";
                        if (StatusType == 'Closed') {
                            if (data[index].ResponseDateTime != null) {
                                var TempDate = new Date(data[index].ResponseDateTime);
                                var ResponsedDate = formatDate(TempDate);
                            }
                            $("#tblMessages > tbody").append("<tr class='info'><td>" + _newIndex + "</td><td style='display:none'>" + data[index].RequestId + "</td><td>" + RequestedDate + "</td><td>" + data[index].PatientAccount + "</td><td>" + data[index].FirstName + ' ' + data[index].LastName + "</td><td>" + data[index].DOB + "</td><td style='display:none;'>" + data[index].ExternalId + "</td><td style='display:none;'>" + data[index].Description + "</td><td>" + data[index].MedicineName + "</td><td>" + data[index].InstructionName + "</td><td>" + data[index].RepliedMessage + "</td><td>" + data[index].ResponseDate + "</td></tr>");
                        }
                        else {
                            $("#tblMessages > tbody").append("<tr class='warning'><td>" + _newIndex + "</td><td style='display:none'>" + data[index].RequestId + "</td><td>" + RequestedDate + "</td><td>" + data[index].PatientAccount + "</td><td>" + data[index].FirstName + ' ' + data[index].LastName + "</td><td>" + data[index].DOB + "</td><td style='display:none;'>" + data[index].ExternalId + "</td><td style='display:none;'>" + data[index].Description + "</td><td>" + data[index].MedicineName + "</td><td>" + data[index].InstructionName + "</td><td style='display:none;'>" + data[index].ProviderId + "</td></tr>");
                        }
                    });
                }
                $.unblockUI();
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Something went wrong, Please contact IO');
                $.unblockUI();
            }
        });
    }

    </script>
}
