﻿@using PatientPortalDashBoard.Models
@{
    ViewBag.Title = "Home Page";
}
@{
    var providerinfo = (Provider)ViewData["providerinfo"];
}

<!-- Navigation -->
@Html.Partial("TopBanner")

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Provider's List</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="tblheading">
                    <i class="fa fa-comments fa-fw"></i>
                    <span id="tblname">Email Notification</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" style="height: 400px; overflow: auto; width:auto;overflow: auto">
                                <table class="table table-striped table-bordered table-hover" id="tblMessages">
                                    <thead>
                                        <tr>
                                            <th>#Sno</th>
                                            <th>Provider's Name</th>
                                            <th>Alert EmailAddress</th>
                                            <th>Dated</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodysecuremessage"></tbody>
                                </table>
                            </div>
                            <div>
                                <input type="hidden" id="hdnProviderId" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for showing chat history between provider and the patient-->
        <div class="modal fade" id="EmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Email Settings</h4>
                    </div>
                    <div class="modal-body" style="min-height:200px;max-height:300px;">
                        <fieldset>
                            <div class="form-group">
                                <label id="lblStatusMessage" style="color:red;"></label>
                            </div>
                            <div class="form-group">
                                <input class="form-control" value="" maxlength="255" id="txtproviderName" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Enter Email Address" maxlength="255" id="txtEmailAddress">
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnAccept" onclick="UpdateEmailDetails();">Update</button>
                        <button type="button" class="btn btn-primary" id="btnReject" onclick="CloseModal();">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/customjs");

    <script type="text/javascript">

    var providerIdinfo = null;
    var _apiurl = localStorage.getItem('ApiUrl');
    var clientkey = '@providerinfo.PracticeId';

    $(document).ready(function () {
        $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
        var ProviderId = '@providerinfo.Providerid';
        var isAdmin = '@providerinfo.isAdmin';
        BindProvidersList(0, 2);
        BindProvidersAlertList();
        $.unblockUI();

    });
        

    function BindProvidersAlertList() {
        var _UserId = '@providerinfo.Providerid';
        $('#tbodysecuremessage').html('');
        $.ajax({
            url: _apiurl + 'FetchUserAlertsList/?ProviderId=' + _UserId + '&ClientKey=' + clientkey,
            type: 'GET',
            dataType: 'json',
            cache: false,
            crossdomain: true,
            success: function (data, textStatus, xhr) {
                if (data.d !== '') {
                    var _bindelement = '';
                    $.each(data, function (index) {
                        _bindelement += "<tr id=" + data[index].ProviderId + " class='info'><td>" + (index + 1) + "</td>";
                        _bindelement += "<td>&nbsp;&nbsp;" + data[index].DisplayName + "</td>";
                        if (data[index].Status == "0") {
                            _bindelement += "<td>&nbsp;&nbsp;NA</td>";
                            _bindelement += "<td>&nbsp;&nbsp;NA</td>";
                            _bindelement += "<td><i style='cursor:pointer;' class=\"fa fa-plus-circle\" aria-hidden=\"true\" onclick='ADDAlertDetails(" + data[index].ProviderId + ",\"" + data[index].DisplayName + "\");'></i></td>";

                        }
                        else {
                            _bindelement += "<td>&nbsp;&nbsp;" + data[index].EmailAddress + "</td>";
                            _bindelement += "<td>&nbsp;&nbsp;" + data[index].Dated + "</td>";
                            _bindelement += "<td><i style='cursor:pointer;' class=\"fa fa-times\" aria-hidden=\"true\"onclick='RemoveAlertDetail(" + data[index].ProviderId + ");'></i></td>";
                        }
                        _bindelement += "</tr>";
                    });
                    $('#tbodysecuremessage').append(_bindelement);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error while binding the Other provider information on side menu');
            }
        });
    }

    function formatDate(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? ' PM' : ' AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
    }

    function RemoveAlertDetail(ProviderId) {
        var Status = confirm('Are you sure to Remove Alerts Settings for this Provider?');
        if (Status) {
            $.ajax({
                url: _apiurl + 'RemoveAlertDetails/?ProviderId=' + ProviderId + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data == 1) {
                        BindProvidersAlertList();
                    }
                    else {
                        alert('Something went worng, Please contact IO');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went worng, Please contact IO');
                }
            });
        }
    }

    function ADDAlertDetails(ProviderId, ProviderName) {
        $('#txtEmailAddress').val('');
        $('#txtproviderName').val(ProviderName);
        $('#hdnProviderId').val(ProviderId);
        $('#EmailModal').modal("show");
    }

    function UpdateEmailDetails() {
        lblStatusMessage.innerHTML = "";
        if ($('#txtEmailAddress').val() == "") {
            lblStatusMessage.innerHTML = "Please insert email address";
        }
        var EmailAddress = $('#txtEmailAddress').val();
        if (ValidateEmail(EmailAddress)) {
            $.ajax({
                url: _apiurl + 'UpdateProviderAlert/?ProviderId=' + hdnProviderId.value + '&EmailAddress=' + EmailAddress + '&ClientKey=' + clientkey,
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data == 1) {
                        $('#EmailModal').modal("hide");
                        BindProvidersAlertList();
                    }
                    else {
                        alert('Something went worng, Please contact IO');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Something went worng, Please contact IO');
                }
            });
        }
        else {
            alert('Please enter the valid email addresss');
        }
    }

    function CloseModal() {
        $('#EmailModal').modal("hide");
    }


    </script>
}
