﻿@using PatientPortalDashBoard.Models
@{
    ViewBag.Title = "Home Page";
}
@{
    var providerinfo = (Provider)ViewData["providerinfo"];
}

<script type="text/javascript">
    function BindProvidersList(ListId, TypeId) {
        var _UserId = '@providerinfo.Providerid';
        $.ajax({
            url: _apiurl + 'FetchAlltherestProviders/?providerid=' + _UserId + '&practiceid=' + '@providerinfo.PracticeId',
            type: 'GET',
            dataType: 'json',
            cache: false,
            crossdomain: true,
            success: function (data, textStatus, xhr) {
                if (data.d !== '') {
                    var _bindelement = '';
                    $.each(data, function (index) {
                        _bindelement += "<li id=" + data[index].id + " style='z-index:12;' onclick='ViewSecureMessages(&#39;" + data[index].id + "&#39;," + TypeId + ");' name='" + data[index].displayname + "'>";
                        _bindelement += "<a href='#'><i class=\"fa fa-user-circle\"></i>&nbsp;&nbsp;" + data[index].displayname + "</a>";
                        _bindelement += "</li>";
                    });
                    $('#ul_menu').append(_bindelement);
                    if (ListId != 0) {
                        $("#" + ListId).click();
                    }
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error while binding the Other provider information on side menu');
            }
        });
    }

    function ViewSecureMessages(providerId, TypeId) {
        if (TypeId == 1) {
            providerIdinfo = providerId;
            FetchMessageCount(providerId);
            FetchRecordsBasedonStatus('Inbox');
            $("#header").html(($('#' + providerIdinfo).attr('name') + " Messages"));
        }
        else {
            var url = '@Url.Action("Index", "Home", new { ProviderId = "_providerid_", practicename = "_practicename_", DisplayName = "_DisplayName_", practiceid = "_practiceid_", isAdmin = "_isAdmin_", SM = "_SM_" })';
            url = url.replace("_providerid_", '@providerinfo.Providerid');
            url = url.replace("_practicename_", '@providerinfo.PracticeName');
            url = url.replace("_DisplayName_", '@providerinfo.DisplayName');
            url = url.replace("_practiceid_", '@providerinfo.PracticeId');
            url = url.replace("_isAdmin_", '@providerinfo.isAdmin');
            url = url.replace("_SM_", providerId);
            url = url.replace("amp;", "");
            url = url.replace("amp;", "");
            url = url.replace("amp;", "");
            url = url.replace("amp;", "");
            url = url.replace("amp;", "");
            url = url.replace("amp;", "");
            window.location.href = url;
        }
    }
</script>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><h4>@providerinfo.PracticeName</h4></a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <label>Welcome! @providerinfo.DisplayName</label>
        </li>
        <li class="dropdown">
            <a href="#" id="btnChangePassword"><i class="fa fa-sign-out fa-fw"></i>Change Password</a>
        </li>
        <li class="dropdown">
            <a href="@Url.Action("Login", "Account", new { PracticeId = providerinfo.PracticeId })"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                @if (@providerinfo.isAdmin == "Y")
                {
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;Secure Messaging<span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse" id="ul_menu"></ul>
                    </li>
                    <li style="z-index:123;">
                        <a href="@Url.Action("Demographics", "Home", new { ProviderId = providerinfo.Providerid, practicename = providerinfo.PracticeName, DisplayName = providerinfo.DisplayName, practiceid = providerinfo.PracticeId, isAdmin = providerinfo.isAdmin })">
                            <i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;Demographics's Request<span class="fa arrow"></span>
                        </a>
                    </li>
                    <li style="z-index:0;">
                        <a href="@Url.Action("ProvidersList", "Home", new { ProviderId = providerinfo.Providerid, practicename = providerinfo.PracticeName, DisplayName = providerinfo.DisplayName, practiceid = providerinfo.PracticeId, isAdmin = providerinfo.isAdmin })">
                            <i class="fa fa-gear fa-fw"></i>&nbsp;&nbsp;Email Notification<span class="fa arrow"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li style="z-index:1;">
                        <a href="@Url.Action("Index", "Home", new { ProviderId = providerinfo.Providerid, practicename = providerinfo.PracticeName, DisplayName = providerinfo.DisplayName, practiceid = providerinfo.PracticeId, isAdmin = providerinfo.isAdmin })">
                            <i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;Secure Messaging<span class="fa arrow"></span>
                        </a>
                    </li>
                    <li style="z-index:2;">
                        <a href="@Url.Action("Medication", "Home", new { ProviderId = providerinfo.Providerid, practicename = providerinfo.PracticeName, DisplayName = providerinfo.DisplayName, practiceid = providerinfo.PracticeId, isAdmin = providerinfo.isAdmin })">
                            <i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;Refill Request<span class="fa arrow"></span>
                        </a>
                    </li>
                    <li style="z-index:0;">
                        <a href="@Url.Action("Amendments", "Home", new { ProviderId = providerinfo.Providerid, practicename = providerinfo.PracticeName, DisplayName = providerinfo.DisplayName, practiceid = providerinfo.PracticeId, isAdmin = providerinfo.isAdmin })">
                            <i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;Amendment Request<span class="fa arrow"></span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

</nav>

<div class="modal fade" id="ResetPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="frmlogin">
                    <fieldset>
                        <div class="form-group">
                            <label id="lblStatusMessage" style="color:red;"></label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Old Password" name="OldPassword" type="password" value="" maxlength="15" id="txtOldPassword">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="New Password" name="NewPassword" type="password" maxlength="15" value="" id="txtNewPassword">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm Password" name="CnfPassword" type="password" maxlength="15" value="" id="txtCnfPassword">
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <a class="btn btn-md btn-success btn-block" id="btnResetPassword">Reset Password</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

