﻿@{
    ViewBag.Title = "UserProfile";
}

@model PatientPortalDashBoard.Models.UserProfileViewModel


<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><h4>@Model.practicename</h4></a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li>
            <label>Welcome! @Model.displayname</label>
        </li>


        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="@Url.Action("Index", "Home", new { providerid = @Model.id, practiceid = @Model.practiceid, displayName = @Model.displayname, isAdmin = @Model.isAdmin, practicename = @Model.practicename })"><i class="fa fa-user fa-fw"></i> Home</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <!--style="height:500px;overflow-y:scroll" -->
            <ul class="nav" id="side-menu"></ul>
        </div>
    </div>

</nav>


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Display Name</label>
                                <input class="form-control" id="txtdisplayname">
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" id="txtfirstname">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" id="txtlastname">
                            </div>
                            <div class="form-group">
                                <label>Practice Id</label>
                                <input class="form-control" id="txtpid">
                            </div>

                            <div class="form-group">
                                <label>Practice Name</label>
                                <input class="form-control" id="txtpracticename">
                            </div>

                            <div class="form-group">
                                <label>Is Admin</label>
                                &nbsp;&nbsp;<input type="checkbox" id="isAdmin">
                            </div>

                            <div class="form-group">
                                <input type="hidden" id="practicename" />
                                <input type="hidden" id="isadmin" />
                            </div>

                            @*<button type="submit" class="btn btn-default">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")

    <script type="text/javascript">

        var _id = parseInt(@Model.id);
        var _model = '@Model.practiceid';


        $(document).ready(function () {
            $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
            binduserprofilevalues(_id, _model);
        });


        function binduserprofilevalues(id, practiceid) {
            var apiurl = localStorage.getItem('ApiUrl');
            alert(apiurl + 'fetchuserprofile/?providerid=' + id + '&clientkey=' + practiceid);
            $.ajax({
                url: apiurl + 'fetchuserprofile/?providerid=' + id + '&clientkey=' + practiceid,
                type: 'POST',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                data: { 'providerid': id, 'practiceid': practiceid },
                success: function (data, textStatus, xhr) {
                    if (data.d !== '') {

                        $('#practicename').val(data[0].PracticeName);
                        $('#isadmin').val(data[0].isAdmin);

                        //alert($('#practicename').val());

                        $.each(data, function (index) {

                            if (data[index].isAdmin == 'Y') {
                                $('#txtdisplayname').val(data[index].DisplayName);
                                $('#txtfirstname').val(data[index].FirstName);
                                $('#txtlastname').val(data[index].LastName);
                                $('#txtpid').val(data[index].PID);
                                $('#txtpracticename').val(data[index].PracticeName);

                                // make them readonly in every case
                                $('#txtdisplayname').attr('readonly', true);
                                $('#txtfirstname').attr('readonly', true);
                                $('#txtlastname').attr('readonly', true);
                                $('#txtpid').attr('readonly', true);
                                $('#txtpracticename').attr('readonly', true);

                                $('input:checkbox').attr('checked', true);
                            }

                            else {
                                $('#txtdisplayname').val(data[index].DisplayName);
                                $('#txtfirstname').val(data[index].FirstName);
                                $('#txtlastname').val(data[index].LastName);
                                $('#txtpid').val(data[index].PID);
                                $('#txtpracticename').val(data[index].PracticeName);

                                $('#txtdisplayname').attr('readonly', true);
                                $('#txtfirstname').attr('readonly', true);
                                $('#txtlastname').attr('readonly', true);
                                $('#txtpid').attr('readonly', true);
                                $('#txtpracticename').attr('readonly', true);


                                $('input:checkbox').attr('checked', false);

                            }

                        });

                        $.unblockUI();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('some error occurred while binding values to user profile');
                }
            });
        }


        $('.dropdown').on('click', function () {
            $(this).removeClass('dropdown');
            $(this).addClass('dropdown open');
        });


        $('#homeicon').on('click', function () {
            // alert('home');


        });


    </script>
}


