﻿
#login-main {
	background: repeat;
	background-color: #e2edf3;
	background-image: url(../images/weather.png);
	background-position: left bottom;
	background-repeat:repeat;
	background-size: auto 100%;
	height: 100%;
	left: 0;
	overflow: auto;
	overflow-x: hidden;
	padding-top: 80px;
	position: absolute;
	/*box-shadow:0px 0px 1000px rgba(0,0,0,1) inset;*/
	right: 0;
	z-index: 9;
	-webkit-overflow-scrolling: touch;
/*	box-shadow:0px 0px 1000px rgba(0,0,0,1) inset*/
}