﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOPW Patient Portal DashBoard</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customcss")
    @*@Styles.Render("~/Content/less")*@ 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        #ui-id-1 {
          z-index:100000001;
        }
        #ul_menu li {
            border-bottom: solid #dbdbdb 1px !important;
        }
        #ul_menu li a{
            padding-left: 20px;
        }
            #ul_menu li:last-of-type {
                border:0 !important;
            }
    </style>
</head>

<body>
   
    <div id="wrapper">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&copy; @DateTime.Now.Year - IO Secure Messaging Dashboard&nbsp;&nbsp;</p>
        </footer>
    </div>

     <script>
         window.rooturl = '@Url.Content("~/")';
     </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")
    @RenderSection("scripts", required: false)
</body>
</html>
