﻿<div class="container">

    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">

                        <div class="panel-heading">
                            <div class="text-center">
                                <img src="@Url.Content("~/images/iologo_new.gif")" />
                            </div>
                            <br />

                            <div class="text-center">
                                <label class="panel-title">IO Secure Messaging DashBoard</label>
                            </div>

                            <br />

                        </div>
                        <div class="panel-body">
                            <form role="form" id="frmlogin">
                                <fieldset>
                                    <p style="color:maroon;">
                                        Your previous link has been expired.
                                        Please contact IO to provide you new link!
                                    </p>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>










