﻿@model PatientPortalDashBoard.Models.LoginViewModel

<div class="container">

    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">

                        <div class="panel-heading">
                            <div class="text-center">
                                <img src="@Url.Content("~/images/iologo_new.gif")" />
                            </div>
                            <br />

                            <div class="text-center">
                                <label class="panel-title" style="color:maroon">
                                    @ViewBag.PracticeName
                                </label>
                                <br />
                                <label class="panel-title">IO Secure Messaging DashBoard</label>
                            </div>

                            <br />

                        </div>
                        <div class="panel-body">
                            <form role="form" id="frmlogin">
                                <fieldset>
                                    <div class="form-group" style="display:none;">
                                        <input class="form-control" placeholder="Practice Id" name="practiceid" value=@ViewBag.PracticeId id="txtpracticeid">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Enter your Email Address" name="EmailAddress" type="text" value="" id="txtEmailAddress" maxlength="255" tabindex="1">
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a href="@Url.Action("Login", "Account", new { PracticeId = @ViewBag.PracticeId })" class="btn" tabindex="2">Home</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="btn btn-md btn-success btn-block" id="btnlogin" tabindex="3">Send</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")
    @Scripts.Render("~/bundles/LoginJS")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnlogin").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnlogin").click();
                }
            });


            $("#txtEmailAddress").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnlogin").click();
                }
            });

            var _apiurl = localStorage.getItem('ApiUrl');

            $("#btnlogin").click(function () {
                if ($('#txtEmailAddress').val() === "") {
                    showModal('Forgot Password', 'Please enter your email address');
                }
                else {
                    $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
                    var EmailId = $('#txtEmailAddress').val();
                    var PracticeId = $('#txtpracticeid').val();
                    var apiurl = localStorage.getItem('ApiUrl');

                    $.ajax({
                        url: apiurl + 'ForgotPassword/?Clientkey=' + PracticeId + '&EmailId=' + EmailId,
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        crossdomain: true,
                        success: function (data, textStatus, xhr) {
                            if (data == 1) {
                                showModal('ForgotPassword', 'Password details has been sent to your provided email address');
                                $('#txtEmailAddress').val('');
                                $.unblockUI();
                            }
                            else if (data == 2) {
                                showModal('Message', 'This email address does not exists !');
                                $('#txtEmailAddress').val('');
                                $.unblockUI();
                            }
                            else {
                                showModal('Message', 'Something went wrong, Please contact IO to check this issue ');
                                $('#txtEmailAddress').val('');
                                $.unblockUI();
                            }

                        },
                        error: function (xhr, textStatus, errorThrown) {
                            showModal('ForgotPassword', 'Something went wrong, Please contact IO to send your password!');
                            $('#txtEmailAddress').val('');
                            $.unblockUI();
                        }
                    });
                }
            });
        });

        function showModal(title, text) {
            $("#loginmodal .modal-title").html(title);
            $("#loginmodal .modal-body").html(text);
            $('#loginmodal').modal("show");
        }
    </script>
}

