﻿@model PatientPortalDashBoard.Models.LoginViewModel

<div class="container">

    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">

                        <div class="panel-heading">
                            <div class="text-center">
                                <img src="@Url.Content("~/images/iologo_new.gif")" />
                            </div>
                            <br />

                            <div class="text-center">
                                <label class="panel-title" style="color:maroon">
                                    @ViewBag.PracticeName
                                </label>
                                <br />
                                <label class="panel-title">IO Secure Messaging DashBoard</label>
                            </div>

                            <br />

                        </div>
                        <div class="panel-body">
                            <form role="form" id="frmlogin">
                                <fieldset>
                                    <div class="form-group" style="display:none;">
                                        <input class="form-control" placeholder="Practice Id" name="practiceid" value=@ViewBag.PracticeId disabled="disabled" id="txtpracticeid">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="UserName" name="username" type="text" value="" id="txtUserName" tabindex="1">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="" id="txtPassword" maxlength="15" tabindex="2">
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a href="@Url.Action("ForgotPassword", "Account", new { PracticeId = @ViewBag.PracticeId })" class=" btn" tabindex="4">Forgot Password?</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="btn btn-md btn-success btn-block" id="btnlogin" tabindex="3">Login</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")
    @Scripts.Render("~/bundles/LoginJS")

    <script type="text/javascript">



        $(document).ready(function () {

            $("#btnlogin").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnlogin").click();
                }
            });

            $("#txtPassword").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnlogin").click();
                }
            });

            var _apiurl = localStorage.getItem('ApiUrl');

            $("#btnlogin").on('click', function () {

                if ($('#txtUserName').val() == "") {
                    showModal('Login', 'Please enter your UserName');
                }
                else if ($('#txtPassword').val() == '') {
                    showModal('Login', 'Please enter your password');
                }
                else {
                    $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
                    var PracticeId = $('#txtpracticeid').val();
                    var UserName = $('#txtUserName').val();
                    var Password = $('#txtPassword').val();
                    //Login(UserName, Password, PracticeId);

                    var apiurl = localStorage.getItem('ApiUrl');

                    $.ajax({
                        url: apiurl + 'ValidateProviders/?UserName=' + UserName + '&Password=' + Password + '&Clientkey=' + PracticeId,
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        crossdomain: true,
                        success: function (data, textStatus, xhr) {
                            if (data[0].UserExists !== 0) {
                                var userExists = data[0].UserExists;
                                var providerid = data[0].id;
                                var practiceid = data[0].PracticeId;
                                var practicename = data[0].PracticeName;
                                var displayName = data[0].DisplayName;
                                var isAdmin = data[0].isAdmin;
                                var isAccountActivated = data[0].isAccountActivated;
                                if (userExists === 1) {
                                    if (isAccountActivated == '1') {
                                       
                                        var url = '@Url.Action("CreateAuth", "Account", new { ProviderId = "_providerid_", practicename = "_practicename_", DisplayName = "_DisplayName_", practiceid = "_practiceid_", isAdmin = "_isAdmin_" })';
                                        url = url.replace("_providerid_", providerid);
                                        url = url.replace("_practicename_", practicename);
                                        url = url.replace("_DisplayName_", displayName);
                                        url = url.replace("_practiceid_", practiceid);
                                        url = url.replace("_isAdmin_", isAdmin);
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        window.location.href = url;

                                    }
                                    else {
                                        var url = '@Url.Action("ResetOTPDetail", "Account", new { ProviderId = "_providerid_", practicename = "_practicename_", DisplayName = "_DisplayName_", practiceid = "_practiceid_", isAdmin = "_isAdmin_" })';
                                        url = url.replace("_providerid_", providerid);
                                        url = url.replace("_practicename_", practicename);
                                        url = url.replace("_DisplayName_", displayName);
                                        url = url.replace("_practiceid_", practiceid);
                                        url = url.replace("_isAdmin_", isAdmin);
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        url = url.replace("amp;", "");
                                        window.location.href = url;
                                    }
                                }
                                else {
                                    showModal('Message', 'Please enter valid credentials!');
                                    $('#txtPassword').val('');
                                    $('#txtPassword').focus();
                                    $.unblockUI();
                                }
                                $.unblockUI();
                            }
                            else {
                                showModal('Message', 'Please enter valid credentials!');
                                $('#txtPassword').val('');
                                $('#txtPassword').focus();
                                $.unblockUI();
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert(errorThrown);
                            alert('Error in  Login Function! Please contact the Portal Manager');
                        }
                    });

                }
            });
        });

        function showModal(title, text) {
            $("#loginmodal .modal-title").html(title);
            $("#loginmodal .modal-body").html(text);
            $('#loginmodal').modal("show");
        }
    </script>
}

