﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Practice Registration</title>
</head>
<body>
    <div>
        @using (@Html.BeginForm("PracticeRegistration", "Account", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                        <h3>Practice Detail</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>
                        Practice key
                        <br />
                        <input type="text" name="Practicekey" value="" maxlength="4" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Practice Name
                        <br />
                        <input type="text" name="Practicename" value="" maxlength="100" style="width:500px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Practice Display Name
                        <br />
                        <input type="text" name="PracticeDName" value="" maxlength="100" style="width:500px;" />
                        <br /><br /><br /><br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Insert Detail" />
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
