﻿@model PatientPortalDashBoard.Models.LoginViewModel

<div class="container">

    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">

                        <div class="panel-heading">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img src="@Url.Content("~/images/iologo_new.gif")" style="display:block;width:100%;max-width:85px;" />
                                    </div>
                                    <div class="text-center col-xs-9" style="padding-top:20px;">
                                        <label class="panel-title" style="color:maroon">
                                            @ViewBag.PracticeName
                                        </label>
                                        <br />
                                        <label class="panel-title">IO Secure Messaging DashBoard</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <form role="form" id="frmlogin">
                                <fieldset>
                                    <div class="form-group" style="display:none;">
                                        <input class="form-control" placeholder="Practice Id" name="practiceid" value=@ViewBag.PracticeId disabled="disabled" id="txtpracticeid">
                                    </div>
                                    <div class="form-group">
                                        <div class="well" style="padding:10px">@ViewBag.DisplayName</div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" name="email" type="text" value="" id="emailaddress" maxlength="255" tabindex="1">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="One Time Password" name="oldPassword" type="password" maxlength="15" value="" id="oldPassword" tabindex="2">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="New Password" name="newPassword" type="password" maxlength="15" value="" id="newPassword" tabindex="3">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Confirm Password" name="cnfPassword" type="password" maxlength="15" value="" id="cnfPassword" tabindex="4">
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a href="@Url.Action("Login", "Account", new { PracticeId = @ViewBag.PracticeId })" class="btn" tabindex="5">Home</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="btn btn-md btn-success btn-block" id="btnlogin" tabindex="6">Reset Password</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")
    @Scripts.Render("~/bundles/LoginJS")

    <script type="text/javascript">



        $(document).ready(function () {

            $("#btnlogin").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnlogin").click();
                }
            });

            $("#cnfPassword").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnlogin").click();
                }
            });

            var _apiurl = localStorage.getItem('ApiUrl');

            $("#btnlogin").click(function () {

                if ($('#emailaddress').val() === "" && $('#emailaddress').val() === '') {
                    showModal('Login', 'Please provide your email id');
                }
                else if ($('#oldPassword').val() === "") {
                    showModal('Login', 'Please enter old Password!');
                }
                else if ($('#newPassword').val() === '') {
                    showModal('Login', 'Please enter new Password!');
                }
                else if ($('#cnfPassword').val() === '') {
                    showModal('Login', 'Please enter confirm password!');
                }
                else if ($('#cnfPassword').val() !=  $('#newPassword').val()) {
                    showModal('Login', 'New Password & Confirm Password should be same!');
                }
                else {
                    $.blockUI({ message: '<h4> <img src="@Url.Content("~/images/728.gif")" /> Please wait...</h4>' });
                    var PracticeId = $('#txtpracticeid').val();
                    var ProviderId = '@ViewBag.ProviderId';
                    var OldPassword = $('#oldPassword').val();
                    var NewPassword = $('#newPassword').val();
                    var EmailId = $('#emailaddress').val();
                    var PracticeName = '@ViewBag.PracticeName';
                    var DisplayName = '@ViewBag.DisplayName';
                    var isAdmin = '@ViewBag.isAdmin';

                    var apiurl = localStorage.getItem('ApiUrl');

                    $.ajax({
                        url: apiurl + 'ResetOneTimePassword/?ProviderId=' + ProviderId + '&EmailId=' + EmailId + '&OldPassword=' + OldPassword + '&NewPassword=' + NewPassword + '&Clientkey=' + PracticeId,
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        crossdomain: true,
                        success: function (data, textStatus, xhr) {
                            if (data[0].ResetStatus == 0) {
                                showModal('Message', 'Please enter the valid One Time Password');
                                $('#oldPassword').val('');
                                $('#newPassword').val('');
                                $('#cnfPassword').val('');
                                $('#oldPassword').focus();
                                $.unblockUI();
                            }
                            else if (data[0].ResetStatus == 2) {
                                showModal('Message', 'Email address already exists, Please try different email address!');
                                $('#oldPassword').val('');
                                $('#newPassword').val('');
                                $('#cnfPassword').val('');
                                $('#emailid').focus();
                                $.unblockUI();
                            }
                            else {
                                var url = '@Url.Action("Index","Home", new { providerid = "_providerid_", practicename = "_practicename_", DisplayName = "_DisplayName_", practiceid = "_practiceid_", isAdmin = "_isAdmin_" })';
                                url = url.replace("_providerid_", ProviderId);
                                url = url.replace("_practicename_", PracticeName);
                                url = url.replace("_DisplayName_", DisplayName);
                                url = url.replace("_practiceid_", PracticeId);
                                url = url.replace("_isAdmin_", isAdmin);
                                url = url.replace("amp;", "");
                                url = url.replace("amp;", "");
                                url = url.replace("amp;", "");
                                url = url.replace("amp;", "");
                                url = url.replace("amp;", "");
                                window.location.href = url;
                                $.unblockUI();
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert(errorThrown);
                            alert('Error in  Login Function! Please contact the Portal Manager');
                        }
                    });
                }
            });
        });

        function showModal(title, text) {
            $("#loginmodal .modal-title").html(title);
            $("#loginmodal .modal-body").html(text);
            $('#loginmodal').modal("show");
        }
    </script>
}

