﻿@using PatientPortalDashBoard.Models;

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customjs")
    @Scripts.Render("~/bundles/LoginJS")
    <script type="text/javascript">

        function SetPracticeDetail() {
            $('#user_PracticeName').val($('#practiceRegistartion').find(":selected").text());
        }

        function UpdateNewUser() {

            if ($.trim($('#user_id').val()) == "") {
                alert('Please enter the providerId');
                return;
            }

            if ($.trim($('#user_DisplayName').val()) == "") {
                alert('Please enter the Display Name');
                return;
            }

            if ($.trim($('#user_FirstName').val()) == "") {
                alert('Please enter the FirstName');
                return;
            }

            if ($.trim($('#user_LastName').val()) == "") {
                alert('Please enter the lastName');
                return;
            }

            if ($.trim($('#user_Pin').val()) == "") {
                alert('Please enter the pin');
                return;
            }

            
            var providerId = $('#user_id').val();
            var displayName = $('#user_DisplayName').val();
            var firstName = $('#user_FirstName').val();
            var lastName = $('#user_LastName').val();
            var userPin = $('#user_Pin').val();
            var practiceName = $('#practiceRegistartion').find(":selected").text();
            var practiceId = $('#practiceRegistartion').find(":selected").val();

            if (practiceId == "-1") {
                alert('Please select the practice name');
                return;
            }

            var apiurl = localStorage.getItem('ApiUrl');

            $.ajax({
                url: apiurl + 'UpdateNewUser/?PracticeId=' + practiceId + '&ProviderId=' + providerId + '&DisplayName=' + displayName + '&FirstName=' + firstName + '&LastName=' + lastName + '&Pin=' + userPin + '&PracticeName=' + practiceName + '&isAdmin=N',
                type: 'GET',
                dataType: 'json',
                cache: false,
                crossdomain: true,
                success: function (data, textStatus, xhr) {
                    if (data.UserName !== "") {
                        $('#user_id').val('');
                        $('#user_DisplayName').val('');
                        $('#user_FirstName').val('');
                        $('#user_LastName').val('');
                        $('#user_Pin').val('');
                        $('#user_PracticeName').val('');
                        $.unblockUI();
                        var HTMLBody = "<table><tr><td>UserName</td><td>"+data.UserName+"</td></tr>";
                        HTMLBody += "<tr><td>Password</td><td>"+data.Password+"</td></tr></table>";
                        showModal('Message', HTMLBody);
                    }
                    else {
                        showModal('Message', 'please contact IO Dev');
                        $('#user_id').val('');
                        $('#user_DisplayName').val('');
                        $('#user_FirstName').val('');
                        $('#user_LastName').val('');
                        $('#user_Pin').val('');
                        $('#user_PracticeName').val('');
                        $.unblockUI();
                    }
                    $.unblockUI();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                    alert('Error in  Login Function! Please contact the Portal Manager');
                }
            });

        }

        function showModal(title, text) {
            $("#loginmodal .modal-title").html(title);
            $("#loginmodal .modal-body").html(text);
            $('#loginmodal').modal("show");
        }
    </script>
}

<div class="container">

    <div style="border:solid #Cdcdcd 1px;padding:5px;margin:50px 0px;width:800px;background-color:#f1f1f1;">
        <h4 style="color:maroon">User Registration - (Not for Practice Admin)</h4>
        <table>
            <tr style="height:50px;">
                <td colspan="2" style="color:maroon;">
                    <h5 style="color:maroon">Please Select Practice Name and Insert the User Details</h5>
                </td>
            </tr>
            <tr style="height:50px;">
                <td style="width:30%;">
                    Practice Name
                </td>
                <td>
                    <select id="practiceRegistartion" onchange="SetPracticeDetail();">
                        @if (ViewBag.PracticeList != null)
                        {
                            <option value="-1" selected="selected">Select PraticeName</option>
                            foreach (PracticeInformation Pc in ViewBag.PracticeList)
                            {
                                <option value=@Pc.Practicekey>@Pc.PracticeDisplayName</option>
                            }
                        }
                        else
                        {
                            <option value="-1">Select PraticeName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr style="height:50px;">
                <td>
                    ProviderId
                </td>
                <td>
                    <input type="text" maxlength="10" id="user_id" style="width:300px;" />
                </td>
            </tr>
            <tr style="height:50px;">
                <td>
                    Display Name
                </td>
                <td>
                    <input type="text" maxlength="500" id="user_DisplayName" style="width:300px;" />
                </td>
            </tr>
            <tr style="height:50px;">
                <td>
                    First Name
                </td>
                <td>
                    <input type="text" maxlength="100" id="user_FirstName" style="width:300px;" />
                </td>
            </tr>
            <tr style="height:50px;">
                <td>
                    Last Name
                </td>
                <td>
                    <input type="text" maxlength="100" id="user_LastName" style="width:300px;" />
                </td>
            </tr>
            <tr style="padding-bottom: 10px;height:50px;">
                <td>
                    Pin
                </td>
                <td>
                    <input type="text" maxlength="10" id="user_Pin" style="width:300px;" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>
                    Practice Name
                </td>
                <td>
                    <input type="text" maxlength="10" id="user_PracticeName" disabled class="form-group" />
                </td>
            </tr>
            <tr style="height:50px;">
                <td colspan="2">
                    <input type="button" value="Confirm Detail" class="btn btn-primary" onclick="UpdateNewUser();" />
                </td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">User Credentials</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                UserName
                            </td>
                            <td id="td_Uname">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password
                            </td>
                            <td id="td_Password"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


